<%- include("header.ejs") -%>
<a href="/about">About me</a>
<div class="box" id="heading">
        <h1><%= date %></h1>
    </div>
<div class="box">
    <% for (var i=0; i< toDoItems.length; i++){%>
        <form action="/delete" method="POST">
        <div class="item">
            <input name="checkbox" value="<%= toDoItems[i].id %>" type="checkbox" onchange="this.form.submit()">
            <p><%= toDoItems[i].description %></p>
        </div>
    </form>
        <%}%>
    <form action="/" class="class" method="post">
        <input type="text" name="newTask" placeholder="New Task" autocomplete="off"> <!--autocomplete tähendab, et ei näitaks eelnevaid kirjeid, mida on enne sisestatud-->
        <button type="submit">+</button>

    </form>
</div>
<%- include("footer.ejs") -%>
</body>
</html>