<%- include("header.ejs") -%>
<div class="box" id="heading">
    <h1><%= date %></h1>
</div>
<div class="box">
<% for (var i=0; i< toDoItems.length; i++){%>
    <form action="/work/delete" method="POST">
    <div class="item">
        <input name="checkbox" value="<%= toDoItems[i].id %>" type="checkbox" onchange="this.form.submit()">
        <p><%= toDoItems[i].description %></p>
    </div>
    </form>
    <%}%>
<form action="/work" class="class" method="post">
    <input type="text" name="newWork" placeholder="New Work" autocomplete="off"> <!--autocomplete tähendab, et ei näitaks eelnevaid kirjeid, mida on enne sisestatud-->
    <button type="submit">+</button>

</form>
</div>
<%- include("footer.ejs") -%>